.select {
    position: relative;
    display: inline-block;
}

.selectedValue {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid black;
    min-width: 120px;
    padding: 5px;
}

.selectItems {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #585858;
    /*padding: 5px;*/
    min-width: 120px;
}


.selectItem {
    cursor: pointer;
    padding: 5px;
}

.selectItem:not(:last-child) {
    border-bottom: 1px solid #dedede;
}

.selectItem:hover {
    background-color: #efefef;
}

.activeItem {
    font-weight: bold;
}